.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  margin: 92px auto;
  padding: 0 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: circle;
}

.header__links-list-item {
  padding-right: 13px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  height: 100%;
  margin: auto;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  justify-content: left;
  align-self: flex-end;
  min-width: 240px;
  line-height: 1.35;
}

.cover {
  position: relative;
  z-index: 1;
  margin: auto;
  padding-bottom: 540px;
  background-color:aquamarine;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover_title {
  position: relative;
  z-index: 3;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  position: relative;
  top: 169px;
  padding-left: 50px;
}

.aligned-text_center {
  position: relative;
  top: 300px;
  padding-left: 55px;
}

.aligned-text_right {
  position: relative;
  top: 416px;
  padding-left: 42px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  position: relative;
  top: 541px;
  right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
}

.cover__description-text {
  position: relative;
  z-index: 3;
  padding-right: 81px;
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 16px;
}

.bet-button {
  position: relative;
  z-index: 3;
  width: 257px;
  height: 52px;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-right: 50px;
  margin-bottom: 181px;
  margin-left: 50px;
  padding-top: 180px;

}

.lots_heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;

}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 430px;
  min-height: 450px;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 3;
  color: #FFF;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 3;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
}

.lots__card-list-item {
  flex-grow: 1;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
}

.about {
  margin-bottom: 181px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px auto;
  padding: 0 50px;
}

.about__logo {
  justify-self: center;
  min-width: 240px;
  max-height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  position: relative;
  top: 56px;
  left: 43px;
  width: 148px;
  height: 114px;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 24px;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 81px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto 90px;
  padding: 0 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-align: center;
  list-style: none;
  padding-left: 40px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  min-width: 240px;
  max-height: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  max-width:100%;
  max-height:100%;
}

.footer__social-icon {
  width: 92px;
  height: 48px;
  object-fit: contain;
}

.footer__menu-link_active {
  text-decoration: none;
}
